<div class="card" style="
    background-image: url({{cardData.Poster}});
">
    <div class="card-content">
        <p class="card-title">
            {{cardData.Title}}
        </p>
        <hr />
        <p class="card-plot">
            {{cardData.Plot}}
        </p>
        <p class="card-metadata">
            <strong>Director</strong>: {{cardData.Director}}
        </p>
        <p class="card-metadata">
            <strong>Duration</strong>: {{cardData.Runtime}}
        </p>
        <p class="card-metadata">
            <strong>Language</strong>: {{cardData.Language}}
        </p>
    </div>
</div>